<div class="my-3">
  <h2>Take, TakeLast and TakeUntil</h2>
  <br />

  <p class="border rounded bg-light py-2 px-3">
    Random Names: 'Astaroth', 'Jorgen', 'Satori', 'Galahad', 'Jhu', 'Cleaver',
    'Phobos'
  </p>

  <div class="row">
    <div class="col-md-3">
      <strong>Ex - 01 | Take(5)</strong>
      <hr />
      <ul id="el1"></ul>
    </div>
    <div class="col-md-3">
      <strong>Ex - 02 | TakeLast(5)</strong>
      <hr />
      <ul id="el2"></ul>
    </div>
    <div class="col-md-3">
      <strong>Ex - 03 | TakeUntil(Condition = stopped after 5 seconds)</strong>
      <hr />
      <ul id="el3"></ul>
    </div>

    <div class="col-md-3">
      <strong
        >Ex - 03 | TakeUntil(Condition = Stop when clicked anywhere)</strong
      >
      <hr />
      <ul id="el4"></ul>
    </div>
  </div>
</div>
