<form>
  <p class="text-center">TRANSACTION STATISTICS</p>
  <hr size="2" color="#6599ff" />
  <div id="main">
    <div>AS OF DATE:<strong>22/06/2020 -- 02/07/2021</strong></div>
    <div>RUN DATE/TIME:<strong>02/07/2021 20:45:50 IST</strong></div>
  </div>

  <hr size="2" color="#6599ff" />

  <div style="margin: 0 50px">
    <div style="color: blue; margin: 5px">
      Figures outside parenthesis depict percentages, figures in parenthesis are
      in numbers.
    </div>
    <table class="table table-bordered">
      <tr>
        <th rowspan="2" class="align-middle">Issuer Name</th>
        <th rowspan="2" class="align-middle">Transaction Type</th>
        <th colspan="7" class="text-center">Transaction Status</th>

        <th rowspan="2" class="align-middle">Total</th>
      </tr>
      <tr>
        <th>Successful</th>
        <th>Attempts</th>
        <th>Failed</th>
        <th>Unavailable</th>
        <th>Declined(R)</th>
        <th>Informational(I)</th>
        <th>N/A</th>
      </tr>

      <tr>
        <td rowspan="5" class="align-middle">
          <strong> item </strong>
        </td>
        <td><strong>App Frictionless</strong></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
      <tr>
        <td><strong>App Challenge</strong></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
      <tr>
        <td><strong>Browser Frictionless</strong></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
      <tr>
        <td><strong>Browser Challenge</strong></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
      <tr>
        <td><strong>Total</strong></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
    </table>
  </div>
  <div style="position: absolute; left: 50%">
    <button type="submit" class="btn btn-success">
      Download <i class="fa fa-spinner fa-spin fa-fw"></i>
    </button>
  </div>
</form>
<div class="row m-10" style="margin-top: 200px">
  <div class="col-md-12">
    <ul class="row">
      <li class="card col-md-2 p-5 m-2 text-center d-inline bg-light">
        <a routerLink="fromEvent">fromEvent</a>
      </li>
      <li class="card col-md-2 p-5 m-2 text-center d-inline bg-light">
        <a routerLink="interval">interval</a>
      </li>
      <li class="card col-md-2 p-5 m-2 text-center d-inline bg-light">
        <a routerLink="of-from">Of and From</a>
      </li>
      <li class="card col-md-2 p-5 m-2 text-center d-inline bg-light">
        <a routerLink="to-array">toArray</a>
      </li>
      <li class="card col-md-2 p-5 m-2 text-center d-inline bg-light">
        <a routerLink="custom">custom</a>
      </li>
      <li class="card col-md-2 p-5 m-2 text-center d-inline bg-light">
        <a routerLink="map">map</a>
      </li>
      <li class="card col-md-2 p-5 m-2 text-center d-inline bg-light">
        <a routerLink="pluck">pluck</a>
      </li>
      <li class="card col-md-2 p-5 m-2 text-center d-inline bg-light">
        <a routerLink="filter">filter</a>
      </li>
      <li class="card col-md-2 p-5 m-2 text-center d-inline bg-light">
        <a routerLink="tap">tap</a>
      </li>
      <li class="card col-md-2 p-5 m-2 text-center d-inline bg-light">
        <a routerLink="take">take</a>
      </li>
      <li class="card col-md-2 p-5 m-2 text-center d-inline bg-light">
        <a routerLink="retry">Retry, RetryWhen, Scan and Delay</a>
      </li>
      <li class="card col-md-2 p-5 m-2 text-center d-inline bg-light">
        <a routerLink="debouncetime"
          >DebounceTime & <br />DistinctUntilChanged</a
        >
      </li>
      <li class="card col-md-2 p-5 m-2 text-center d-inline bg-light">
        <a routerLink="subject">Subject and Behaviour Subject</a>
      </li>
      <li class="card col-md-2 p-5 m-2 text-center d-inline bg-light">
        <a routerLink="replay-subject">Replay Subject</a>
      </li>
      <li class="card col-md-2 p-5 m-2 text-center d-inline bg-light">
        <a routerLink="async-subject">Async Subject</a>
      </li>
      <li class="card col-md-2 p-5 m-2 text-center d-inline bg-light">
        <a routerLink="concat">Concat</a>
      </li>
      <li class="card col-md-2 p-5 m-2 text-center d-inline bg-light">
        <a routerLink="merge">Merge</a>
      </li>
      <li class="card col-md-2 p-5 m-2 text-center d-inline bg-light">
        <a routerLink="mergemap">MergeMap</a>
      </li>
      <li class="card col-md-2 p-5 m-2 text-center d-inline bg-light">
        <a routerLink="concatmap">ConcatMap</a>
      </li>
      <li class="card col-md-2 p-5 m-2 text-center d-inline bg-light">
        <a routerLink="switchmap">SwitchMap</a>
      </li>
      <li class="card col-md-2 p-5 m-2 text-center d-inline bg-light">
        <a routerLink="switchmapapp">SwitchMap Search App</a>
      </li>
      <li class="card col-md-2 p-5 m-2 text-center d-inline bg-light">
        <a routerLink="exhaustmap">ExhaustMap</a>
      </li>
      <li class="card col-md-2 p-5 m-2 text-center d-inline bg-light">
        <a routerLink="sharereplay">sharereplay</a>
      </li>
      <li class="card col-md-2 p-5 m-2 text-center d-inline bg-light">
        <a routerLink="combinelatest">combinelatest</a>
      </li>
      <li class="card col-md-2 p-5 m-2 text-center d-inline bg-light">
        <a routerLink="zip-forkjoin">zip-forkjoin</a>
      </li>
      <li class="card col-md-2 p-5 m-2 text-center d-inline bg-light">
        <a routerLink="catch-throwerror">catch-throwerror</a>
      </li>
    </ul>
  </div>
</div>
