<div class="my-3">
  <h2>MergeMap</h2>
  <br />
  <br />
  <div class="row">
    <div class="col-md-4">
      <strong>Ex - 01 | Map</strong>
      <hr />
      <p class="border rounded bg-light py-2 px-3">
        <strong>Video:</strong> ['Tech', 'Comedy', 'News']
      </p>
      <hr />
      <ul id="el1"></ul>
    </div>

    <div class="col-md-4">
      <strong>Ex - 02 | Map + MergeAll</strong>
      <hr />
      <p class="border rounded bg-light py-2 px-3">
        <strong>Video:</strong> ['Tech', 'Comedy', 'News']
      </p>
      <hr />
      <ul id="el2"></ul>
    </div>

    <div class="col-md-4">
      <strong>Ex - 03 | mergeMap</strong>
      <hr />
      <p class="border rounded bg-light py-2 px-3">
        <strong>Video:</strong> ['Tech', 'Comedy', 'News']
      </p>
      <hr />
      <ul id="el3"></ul>
    </div>
  </div>
</div>
